#content {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 2rem;
}

p {
    text-align: justify;
}

#content > h1 {
    text-align: center;
    font-size: 5rem;
}

@keyframes move-up {
    from {
        opacity: 0;
        transform: translateY(100vh) scale(0);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.img {
    position: relative;
    width: 50%;
    align-self: center;
    border: 2vw solid white;
    box-shadow: 1rem 1rem 2rem rgb(0 0 0 / 10%);
    z-index: 1;

    animation: move-up 0.5s ease forwards;
}

.img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    display: block;
    box-shadow: none;
}

.img::after {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 10vw rgba(0, 0, 0, 0.235);
    pointer-events: none;
}

section, .left {
    display: flex;
    flex-direction: column;
}

section {
    gap: 2rem;
}

article {
    display: flex;
    gap: 2rem;

    width: 75%;

    align-self: center;
}

.left {
    flex: 2;
    justify-content: center;
}

figure {
    flex: 1;

    display: flex;
    justify-content: center;
}

figure img {
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

blockquote::before, blockquote::after {
    content: '"';
}

blockquote {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateY(10vh) scale(0);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
      article {
        animation: move ease both;
        animation-timeline: view();
        animation-range: entry cover 40%;
      } 
    }
  }
