/* General design */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Tagesschrift&display=swap');



body, html {
    font-family: 'EB Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#fffdf9, #ffecc5);
}

h1 {
    font-family: 'Tagesschrift';
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content {
    flex: 1;
}

header, header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    z-index: 1;
}

header {
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    background-color: #fffdf9;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 25%);
}

header nav {
    gap: 1rem;
}

img {
    box-shadow: 1rem 1rem 2rem rgb(0 0 0 / 10%);
}

#contact {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
}

footer {
    text-align: center;
    padding: 2rem 4rem;
    background: linear-gradient(transparent, #e8a96f);
}

footer > p {
    margin-top: 1rem;
    font-weight: bold;
}

.nav {
    border: none;
    outline: none;
    background: none;
    font-weight: normal;
}

nav button {
    transition: font-weight 0.3s ease;
    font-weight: 100;
    font-optical-sizing: auto;
}

/* From https://www.30secondsofcode.org/css/s/hover-underline-animation/ */

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1rem;
    bottom: -0.2rem;
    left: 0;
    background-color: #ff9e49;
    transform-origin: center; /* Expand from center */
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

#chosen {
    font-weight: 900;
}

.unloaded {
    opacity: 0;
}